pyside6

numpy
pandas
matplotlib
seaborn
scikit-learn

# xgboost # 99.8 MB
# tensorflow # > 300 MB
# keras
# pytorch


# excel handling
openpyxl 
xlrd
faker
# schedule

googletrans==4.0.0-rc1

# web scraping
# beautifulsoup4
# requests
selenium


# auto ui
pyautogui